.header__container {
  .logotipo {
    width: 180px;
  }
  h5 {
    margin-left: 12px;
    font-size: 14px;
  }
  .borde__bottom {
    border-bottom: 12px solid #e67108;
  }
  .borde__bottom-min {
    border-bottom: 2px solid #e67108;
  }
  .carrito_icono {
    width: 30px;
  }
}
